body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.glav_h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.obo_img {
    border-radius: 10px;
}

.vvod {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}