* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #081025;
    color: #fff;
}

.box-main {
    width: 1200px;
    margin-left: 50%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 36px;
}

.grid-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.subtext {
    color: rgba(255, 255, 255, 0.637);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}

.main-text {
    color: rgba(255, 255, 255, 0.719);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box {
    padding: 30px 30px;
    background: rgba(19, 32, 53, 1);
    border-radius: 10px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background: rgba(19, 32, 53, 1);
    border-radius: 10px;
}

.grid-img1 {
    width: 310px;
    height: 330px;
    margin: auto;
    padding-top: 30px;
}

.main-text1 {
    color: rgba(255, 255, 255, 0.719);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.subtext1 {
    color: rgba(255, 255, 255, 0.637);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
}