a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.menu__link1 {
    text-decoration: underline;
}

.menu__link3 {
    background-color: orange;
}

.menu__link4 {
    font-weight: bold
}

.product {
    width: 250px;
    padding: 24px;
    border: 1px solid #000;
}

.product__img {
    background-color: forestgreen;
    height: 150px;
}

.product {
    width: 250px;
    padding: 24px;
    border: 1px solid #000;
    position: relative;
}

.product__img {
    background-color: forestgreen;
    height: 150px;
}

.product::after {
    content: 'new';
    background-color: darkred;
    width: 35px;
    height: 35px;
    position: absolute;
    color: white;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.product::before {
    content: 'sale';
    background-color: orange;
    color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.svg {
    width: 300px;
    height: 200px;
}

.svg:hover {
    fill: purple;
}

.svg:active {
    fill: yellow
}

.item {
    width: 150px;
    height: 86px;
    background-color: rgb(104, 155, 9);
    transition: transform 1s;
    border: 1px solid #000;
}

.item_1:hover {
    transform: translateX(50px);
}

.item_2:hover {
    transform: scale(2);
}

.item_3:hover {
    transform: rotate(60deg);
}

.content1 {
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    margin-bottom: 200px;
}

.item1 {
    position: absolute;
    width: 150px;
    height: 60px;
    border: 1px solid #000;
    background-color: black;
}

.item1_1 {
    transform: rotate(90deg);
}

.item1_2 {
    transform: rotate(45deg);
}

.item1_3 {
    transform: rotate(135deg);
}

.button {
    width: 150px;
    height: 50px;
    background-color: purple;
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    font-size: 18px;
}

.flip-2-ver-left-1:active {
    -webkit-animation: flip-2-ver-left-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-2-ver-left-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-2-ver-left-1 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
    100% {
        -webkit-transform: translateX(-100%) rotateY(180deg);
        transform: translateX(-100%) rotateY(180deg);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes flip-2-ver-left-1 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
    100% {
        -webkit-transform: translateX(-100%) rotateY(180deg);
        transform: translateX(-100%) rotateY(180deg);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}